<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>Job Management</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/app.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="230">


<!--========== Header Area ==========-->
<div class="menu-links">
    <div class="container">
        <a href="javascript:" class="close-menu"><i class="fa fa-times"></i> </a>

        <div class="row">
            <div class="col-sm-6">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#about" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a href="#contact" data-toggle="tab">Contact</a>
                    </li>
                </ul>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="quick-links">
                    <span>
                        <a href="#">Privacy policy</a>
                        <a href="#">Copyright Notification</a>
                    </span>
                    <span>
                         <a href="#">Term of use</a>
                    <a href="#">I want to join the team</a>
                    </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <img src="/static/assets/images/big_logo.png" class="img-responsive" alt="">
                    </div>
                    <div class="tab-pane" id="about">
                        <p class="normal-text">
                            Businesses that partner with Google come in all shapes, sizes and market caps, and no one
                            Google advertising solution works for all.
                        </p>

                        <p class="normal-text">
                            Your knowledge of o our range of product offerings can grow their business. Working with
                            them, you set the vision and the strategy for how their advertising can reach thousands of
                            users.

                            Lea
                        </p>
                    </div>

                    <div class="tab-pane" id="contact">
                        <div class="contact-form">
                            <form action="">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input type="text" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label>Your eMail</label>
                                    <input type="text" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label>Your eMail</label>
                                    <textarea class="form-control"></textarea>
                                </div>

                                <div class="text-center submit-btn">
                                    <button type="submit">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Intro Section -->
<section class="home-section">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="header-content text-center">
                <div class="pull-left">
                    <div class="menu-toggle">
                        <a class="circle" href="#">
                            <div class="lines">
                                <i></i>
                                <i></i>
                                <i class="no-margin"></i>
                            </div>


                        </a>
                    </div>

                </div>
                <div class="logo">
                    <img src="/static/assets/images/logo.jpg"/>
                </div>
                <div class="pull-right">
                    <div class="lang-links">
                        <ul class="list-unstyled">
                            <li><a href="#">DE</a></li>
                            <li><span></span></li>
                            <li><a href="#">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <div id="home">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-content">
                        <form action="" method="POST" id="job_search_form">

                            <h1>I'm an
                                <select id="keyword">
                                    <option value="Art Director">Art Director</option>
                                    <option value="Director">Director</option>
                                    <option value="Developer">Developer</option>
                                </select>
                                <br>looking for a job in
                                <select id="location">
                                    <option value="London">London</option>
                                    <option value="Berlin">Berlin</option>
                                    <option value="Milan">Milan</option>
                                </select><br>as a
                                <select id="job_type"><br>
                                    <option value="Freelancer">freelancer</option>
                                    <option value="Full Time">Full time</option>
                                    <option value="Part time">Part time</option>
                                    <option value="Internship">Internship</option>
                                </select>
                                <input id="when" type="text" placeholder="now" value="" class=""/>.
                            </h1>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="job-section">
    <div class="container">
        <div class="nav nav-tabs job-slider" id="recent_jobs_container">

        </div>
        <!-- Nav tabs -->

    </div>

</section>

<section id="logos_section">
    <div class="container">
        <div class="logo-section clearfix">
            <!-- <div class="pull-left">
                <i class="fa fa-bell"></i>
                Turn on email alerts for this search
            </div> -->
            <ul class="list-unstyled pull-right">
                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                <li><a href="#"><i class="fa fa-google"></i> </a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i> </a></li>
            </ul>

        </div>

    </div>

</section>

<section id="search_jobs_section">
    <div class="container">
        <form action="" class="search-form">
            <input type="text" value="All Jobs">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</section>

<section>
    <div class="container new_jobs" id="jobs_container">


    </div>
</section>

<section id="contact_section">
    <div class="container">
        <div class="contact-section">
            <h3>Your Email</h3>

            <p>Get our top day's job offers delivered to your inbox</p>

            <form action="" method="POST" id="contact_form">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-field">
                                    <input type="text" name="name" class="form-control" required placeholder="name"
                                           value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-field">
                                    <input type="email" name="email" class="form-control" required
                                           placeholder="hello@gmail.com" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-field">
                                    <input type="text" name="what" class="form-control" required
                                           placeholder="What are you looking ?" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-field">
                                    <button type="submit" class="slick-next slick-arrow">Next</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        </form>

    </div>
    </div>
</section>


<script src="/static/assets/plugins/jquery/jquery-1.12.0.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="/static/assets/plugins/slick/slick.min.js"></script>
<script src="/static/assets/js/app.js"></script>

</body>
</html>