<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>Job Management</title>
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body>
<!--========== Header Area ==========-->
<div class="menu-links">
    <a href="javascript:" class="close-menu"><i class="fa fa-times"></i> </a>
    <ul class="list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!-- Intro Section -->
<section class="home-section">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="header-content text-center">
                <div class="pull-left">
                    <div class="menu-toggle">
                        <a class="circle" href="#">
                            <div class="lines">
                                <i></i>
                                <i></i>
                                <i class="no-margin"></i>
                            </div>


                        </a>
                    </div>

                </div>
                <div class="logo">
                    <img src="assets/images/logo.jpg"/>
                </div>
                <div class="pull-right">
                    <div class="lang-links">
                        <ul class="list-unstyled">
                            <li><a href="#">DE</a></li>
                            <li><span></span></li>
                            <li><a href="#">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <section>
        <div class="container">
            <div class="job-post job-detail">
                <div class="job-title clearfix">
                    <div class="pull-left">
                        <h3>Google | Business | Berlin | <i class="fa fa-heart"></i></h3>
                    </div>
                    <div class="pull-right">
                        <span>posted at 18:30</span>
                    </div>
                </div>
                <div class="job-details-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="job-text">Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="job-text">Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                                Get our top day's job offers delivered to your inbox
                            </p>
                        </div>
                    </div>
                    <div class="action-button">
                        <a href="#">Apply</a>
                        <a href="#">Back</a>
                    </div>
                </div>
            </div>

            <div class="similar-text">
                Similar Offers
            </div>
        </div>


        <section class="job-section">
            <div class="container">
                <!-- Nav tabs -->
                <div class="nav nav-tabs job-slider">
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="#" data-toggle="tab">
                            <div>
                                <p>posted at 4:32 pm</p>

                                <p><strong>Creative Director Digital</strong></p>

                                <p>IBM Company</p>

                                <p>Berlin / Deutshland</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>
    </section>
</section>


<script src="assets/plugins/jquery/jquery-1.12.0.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="assets/plugins/slick/slick.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>