<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>Job Management</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/app.css">
</head>
<body>

<section class="home-section">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="header-content text-center">
                <div class="logo">
                    <img src="/static/assets/images/logo.jpg"/>
                </div>
            </div> 
        </div>
    </nav>
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="newsletter-content">
                   

                         <h2>Newsletter for Sofie Random</h2>
                         <h1>Front End Developer</h1>
                         <div class ="margin-60"></div>
                         <p>Etiam at sem nec tortor viverra euismod. Suspendisse dictum feugiat
                            nunc, quis pellentesque risus volutpat quis. Aliquam bibendum, neque nec iaculis
                            pulvinar, est ante fermentum odio, non eleifend dui sem vel libero. Sed non dignissim
                            tortor, eget dignissim dui. In cursus sed turpis a vulp</p>
                            
                        <div class ="margin-60"></div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="horizontal-line"></div>
        <div class ="margin-60"></div>

        <div class="job-post shadow">
            <div class="newsletter-job-count">
                <a href="#job_url">
                    <div class="newsletter-job-title clearfix">
                        <div class="pull-left">
                            <h3>Google</h3>
                            <h1>&nbsp;|&nbsp;New York&nbsp;|</h1>
                        </div>
                        <div class="pull-right">
                            <span>posted at job_post_time</span>
                        </div>
                    </div>
                    <div class="newsletter-job-description" data-toggle="modal" data-target="#job_modal' + count + '">
                        <p>Etiam at sem nec tortor viverra euismod. Suspendisse dictum feugiat
                            nunc, quis pellentesque risus volutpat quis.</p>
                    </div>
                </a> 
            </div>
        </div>

         <div class="job-post shadow">
            <div class="newsletter-job-count">
                <a href="#job_url">
                    <div class="newsletter-job-title clearfix">
                        <div class="pull-left">
                            <h3>Google</h3>
                            <h1>&nbsp;|&nbsp;New York&nbsp;|</h1>
                        </div>
                        <div class="pull-right">
                            <span>posted at job_post_time</span>
                        </div>
                    </div>
                    <div class="newsletter-job-description" data-toggle="modal" data-target="#job_modal' + count + '">
                        <p>Etiam at sem nec tortor viverra euismod. Suspendisse dictum feugiat
                            nunc, quis pellentesque risus volutpat quis.</p>
                    </div>
                </a> 
            </div>
        </div>

        <div class="job-post shadow">
            <div class="newsletter-job-count">
                <a href="#job_url">
                    <div class="newsletter-job-title clearfix">
                        <div class="pull-left">
                            <h3>Google</h3>
                            <h1>&nbsp;|&nbsp;New York&nbsp;|</h1>
                        </div>
                        <div class="pull-right">
                            <span>posted at job_post_time</span>
                        </div>
                    </div>
                    <div class="newsletter-job-description" data-toggle="modal" data-target="#job_modal' + count + '">
                        <p>Etiam at sem nec tortor viverra euismod. Suspendisse dictum feugiat
                            nunc, quis pellentesque risus volutpat quis.</p>
                    </div>
                </a> 
            </div>
        </div>

        <div class ="margin-120"></div>
    </div>


</section>


<footer id="main-footer">
    <div class="footer-cont">
        <div class="container">
            <img src="/static/assets/images/big_logo.png">
            <p>&copy 2017 make happen GmbH / All rights reserved</p>
            <p><a href="#">Facebook</a> <a href="#">Twitter</a></p>
            <span></span>
            <p class="no-margin"><a href="#" class="impr">IMPRESSUM</a></p>
        </div>
    </div>

</footer>



<script src="/static/assets/plugins/jquery/jquery-1.12.0.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="/static/assets/plugins/slick/slick.min.js"></script>

</body>
</html>