<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>Job Management</title>
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body>
<!--========== Header Area ==========-->
<div class="menu-links">
    <a href="javascript:" class="close-menu"><i class="fa fa-times"></i> </a>
    <ul class="list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!-- Intro Section -->
<section class="home-section">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="header-content text-center">
                <div class="pull-left">
                    <div class="menu-toggle">
                        <a class="circle" href="#">
                            <div class="lines">
                                <i></i>
                                <i></i>
                                <i class="no-margin"></i>
                            </div>


                        </a>
                    </div>

                </div>
                <div class="logo">
                    <img src="assets/images/logo.jpg"/>
                </div>
                <div class="pull-right">
                    <div class="lang-links">
                        <ul class="list-unstyled">
                            <li><a href="#">DE</a></li>
                            <li><span></span></li>
                            <li><a href="#">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <section>
        <div class="container job-search">
            <div class="search-title job-post">
                <div class="job-title clearfix">
                    <div class="pull-left">
                        <h3>Vidit Tiwari | <strong>Front end Developer</strong></h3>
                    </div>
                    <div class="pull-right">
                        <span>posted at 18:30</span>
                    </div>
                </div>
            </div>
            <div class="job-post">
                <a href="job-detail.html">
                    <div class="job-title clearfix">
                        <div class="pull-left">
                            <h3>Airbnb | <i class="fa fa-heart"></i></h3>
                        </div>
                        <div class="pull-right">
                            <span>posted at 18:30</span>
                        </div>
                    </div>
                    <div class="job-description">
                        <p><strong>Etiam at sem nec</strong> tortor viverra euismod. Suspendisse dictum <strong>feugiat
                            nunc</strong>, quis pellentesque risus volutpat quis. Aliquam bibendum, neque nec iaculis
                            pulvinar, est ante fermentum odio, non eleifend dui sem vel libero. Sed non dignissim
                            tortor, eget dignissim dui. In cursus sed turpis a vulp</p>
                    </div>
                </a>
            </div>
            <div class="job-post">
                <a href="job-detail.html">
                    <div class="job-title clearfix">
                        <div class="pull-left">
                            <h3>Google Inc. / NY | <i class="fa fa-heart"></i></h3>
                        </div>
                        <div class="pull-right">
                            <span>posted at 18:30</span>
                        </div>
                    </div>
                    <div class="job-description">
                        <p><strong>Etiam at sem nec</strong> tortor viverra euismod. Suspendisse dictum <strong>feugiat
                            nunc</strong>, quis pellentesque risus volutpat quis. Aliquam bibendum, neque nec iaculis
                            pulvinar, est ante fermentum odio, non eleifend dui sem vel libero. Sed non dignissim
                            tortor, eget dignissim dui. In cursus sed turpis a vulp</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>


<script src="assets/plugins/jquery/jquery-1.12.0.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="assets/plugins/slick/slick.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>